################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/kerglerec
/Src/.vs/kerglerec
/Src/Kerglerec/bin
/src/kerglerec/obj
/Tests/Kerglerec.Tests/bin
/tests/kerglerec.tests/obj
/src/_NCrunch_kerglerec
/_NCrunch_kerglerec
/Kerglerec.v3.ncrunchsolution.user
/coveragereport
